<?xml version="1.0"?>

<launch>

    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="x_pos" default="-2.0"/>
    <arg name="y_pos" default="-0.5"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="rviz_file" default="$(find mapping)/rviz/mapping.rviz"/>
<!-- Add mapping functionalities -->   
    <include file="$(find mapping)/launch/mapping.launch" />

<!-- Add control method -->
    <include file="$(find control)/launch/dumb_agent.launch" />
</launch>